:root{
    /* color */
    --main-bg-color: black;
    --main-text-color: #fff;
    --main-grey-color: #222;
    --main-red-color: #f40612;
    --secondary-grey-color: #303030;

    /* font-size */

    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-64: 64px;
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: var(--fs-28);
    font-weight: 600;
}

h2, h3 {
    font-size: var(--fs-18);
    font-weight: 400;

}

h5 {
    font-size: var(--fs-16);
    font-weight: 600;
}

/* bootstrap */

.btn {
    border-radius: 0;
    padding: 8px 16px;
}

.btn-danger{
    background: var(--main-red-color);
}

.btn h2 {
    font-weight: 400;
    margin: 0;
}